<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    
    <title>Document</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="nav navbar-nav ml-auto">
        <li class="nav-item active">
            <button class="btn btn-danger">
                <a class="nav-link" href="/">Logout</a>
            </button>
        
        </li>
        <li class="nav-item active">
            <button class="btn btn-primary">
                <a class="nav-link" href="/adminselect">Go Back</a>
            </button>
        
        </li>
        </ul>
        </div>
        <div class="title">
            <h1>WELCOME &nbsp; <span style="color: red;">admin</span></h1> 
        </div>
        </div>
        </nav>
    <h3>Upload Profile Photo</h3><br>
    <form action="/upload" method="POST" encType="multipart/form-data">
        
        <label for="Rollno">Enter Rollno</label>
        <input type="text" name="Rollno"><br>
        <input type="file" name="sampleFile" accept="image/*" /><br>
        <input type="submit" class="btn btn-primary">
      </form>


      
</body>
<style>
    h3{
        padding-top: 15%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    form{
        padding: 2%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    form>input{
        padding: 5px;
    }
    ul>li{
        padding:2px ;
    }
</style>
</html>